.text-center
    .btn-group
        =link_to '组织', ranks_admin_categories_path, class: "btn btn-secondary"
        =link_to '微信', wechat_ranks_admin_items_path, class: "btn btn-secondary"
        =link_to '微博', weibo_ranks_admin_items_path, class: "btn btn-secondary"