@import 'bootstrap';
@import 'weixin';

html{height:100%;}
body {
  height:100%;
  margin:0;
  padding:0;
  background: #e2e1e0;
  text-align: center;
  font-size: 14px;
}

#main{
  min-height: 100%;
  position: relative;
  #container {
    // padding-bottom:40px;
    background-color: #bdb76b;
  }
  #footer{
    background-color: #ffc0cb;
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
    width: 100%;
  }
}