// categories#index
#carouselExampleIndicators {
    .carousel-inner {
        .carousel-item {
            img {
                height: 200px;
                width: 100%;
            }
        }
    }
}

#category-search {
     margin-bottom: 1em;
     #search {
         background: white url("btn_ss.png") left no-repeat;
     }
     h5 {
         margin-bottom: 4px;
     }
}

#category-index {
    .col-6 {
        margin: 1.2em 0;
        .card-block {
            padding-top: 0;
            padding-bottom: 0;
            .header {
                font-size: 1.24em;
                position: relative;
                top: -14px;
                background: #3152d2;
                border: 3px solid white;
                border-radius: 3em;
            }
            .footer {
                font-size: 1.2em;
                position: relative;
                bottom: -.7em;
                background: #0828af;
                border-radius: 3em;
                a {
                    color: #f1d535;
                    font-weight: bold;
                }
            }
        }
    }
}

// categories#show
#main {
    min-height: 100%;
    position: relative;
    #container {
        // background-color: #bdb76b;
        margin-bottom: 4.4em;

        .category_show {
            .btn-group {
                background: white;
                font-weight: bold;
                .wechat-weibo-selected {
                    background: #0122aa;
                    color: white;
                    .btn {
                        color: white;
                    }
                }
                .btn {
                    color: gray;
                }
            }

            #category-show {
                .card {
                    margin-top: 1em;
                    padding: .4em 0;
                    .item_img {
                        img {
                            border-radius: 50%;
                        }
                    }
                    .col, .col-6 {
                        padding: 0 0;
                        .red {
                            color: red;
                            font-size: 1.4em;
                        }
                    }
                    .col-6 {
                        a {
                             width: 100%;
                        }
                        h5 {
                            color: #0122aa;
                            margin-bottom: 0.1rem;
                        }
                        .gray {
                            font-size: 0.84em;
                            color: gray;
                        }
                        .blue {
                            font-size: 0.84em;
                            color: white;
                            padding-left: .2em;
                            padding-right: .2em;
                            background: #0122aa;
                        }
                    }
                    .col {
                        .text-center {
                            a {
                                width: 64%;
                                background: #0122aa;
                                border-color: #0122aa;
                                color: yellow;
                            }
                        }
                    }
                }
            }
        }
    }

    #footer{
        background-color: #ffc0cb;
        bottom:0;
        position:fixed;
        z-index:150;
        _position:absolute;
        _top:expression(eval(document.documentElement.scrollTop+
            (document.documentElement.clientHeight-this.offsetHeight)));
        height:40px;
        padding-bottom: 1em;
        width: 100%;
        .col-8 {
            float: none;
            margin: 0 auto;
            height: 40px;
            .rank-panel {
                width: 100%;
                height: 40px;
                a {
                    width: 100%;
                    height: 100%;
                    padding-top: .84em;
                    font-size: 1em;
                    background: #0122aa;
                    border-color: #0122aa;
                    color: yellow;
                }
            }
        }
    }
}

// items#show
#item-show {
    font-size: 1.14em;
    .container {
        margin-bottom: 1.4em;
        .avatar {
            margin-top: 1.4em;
            img {
                border-radius: 50%;
            }

            .col {
                height: 1.4em;
                img {
                    position: relative;
                    top: -2em;
                    right: -3.4em;
                }
            }
        }

        .title { color: #0122aa; font-size: 1.84em; }

        .info {
            text-align:left;
            font-size: 1em;
            margin-bottom: .4em;
            p {
                margin-top: 1em;
                line-height: 1.2;
            }
        }

        .rank-score {
            .score {
                span {
                    color: red;
                    margin-top: .4em;
                    font-size: 1.2em;
                }
            }
            .score, .rank {
                .col {
                    padding: 0;
                }
            }
        }
    }

    footer {
        .col-8 {
            float: none;
            margin: 0 auto;
            .vote, .rank-panel {
                width: 100%;
                margin: 1.4em 0;
                 a {
                    width: 100%;
                    height: 100%;
                    background: #0122aa;
                    border-color: #0122aa;
                    color: yellow;
                }
            }
        }
    }
}

// categories#ranks

#rank-body {
    thead {
        tr {
            background-color:#ca2119;
            color:white;
        }
    }
    tbody {
        color: white !important;
    }
    th {
        text-align: center;
        border-right:1px solid #eee;
    }
}